* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'rubik', sans-serif;
   font-style: normal;
}

.container {
   height: 100%;
   width: 100%;
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
   border: 1px solid red;
}

.title {
   color: #363940;
   font-size: 32px;
   font-weight: 500;
   line-height: 43px;
}

.text {
   color: #95A1BB;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
}

/* =====================стили для header=========================== */

.header {
   background-color: #0A61F7;
   padding: 14px 0;
}

.header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu {
   display: flex;
   gap: 24px;
}

.menu-link {
   list-style: none;
}

.menu-link a {
   text-decoration: none;
   color: #FFF;
   font-size: 12px;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 1.4px;
   text-transform: uppercase;
}

/* =====================стили для main=========================== */

.main-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 800px;
}

.main-title {
   font-size: 58px;
   line-height: 68px;
   margin: 0 0 30px;
}

.main .text {
   width: 380px;
   margin-bottom: 40px;
}

.main-img {
   align-self: flex-end;
}

.button {
   border: none;
   border-radius: 4px;
   background-color: #0A61F7;
   width: 152px;
   height: 50px;
   color: #FFF;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   line-height: 19.6px;
   letter-spacing: 1.4px;
   text-transform: uppercase;
}

/* =====================стили для rates=========================== */

.rates-section {
   padding: 100px 0 0;
   background: #F9FAFC;
}

.rates-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.rates-section .title {
   margin-bottom: 20px;
}

.rates-section .text {
   margin-bottom: 40px;
}

.table {
   border-collapse: collapse;
}

th,
td {
   border: 1px solid #95A1BB;
   width: 240px;
   text-align: center;
   padding: 15px 0;
}

.table-title {
   color: #363940;
   font-size: 18px;
   font-weight: 500;
   line-height: 22px;
}

.table-subtitle {
   font-size: 14px;
   font-weight: 400;
   line-height: 22px;
   text-align: left;
   padding-left: 20px;
}

.table-subtitle.gray {
   color: #95A1BB;
}

.table-footer td {
   padding: 30px 0;
}

.table-link {
   color: #0A61F7;
   text-decoration: none;
}

.table-button {
   width: 140px;
   padding: 8px 40px;
   border-radius: 4px;
   border: 1px solid #0A61F7;
   color: #0A61F7;
   font-size: 12px;
   font-weight: 500;
   line-height: 19.6px;
   letter-spacing: 1.4px;
   text-transform: uppercase;
   text-decoration: none;
}

.table-button.active {
   background: #0A61F7;
   color: #FFF;
}

/* =====================стили для create-account=========================== */


.create-account-section {
   padding: 100px 0 0;
}

.account-wrapper {
   display: flex;
   justify-content: space-between;
}

.account-info-wrapper {
   display: flex;
   flex-direction: column;
   max-width: 500px;
}

.create-account-section .title {
   margin-bottom: 50px;
}

.create-account-section .text {}

.list-item {
   list-style-image: url('../assets/images/checked.svg');
   color: #363940;
   margin: 0 15px 0 30px;
}

form {
   width: 100%;
   max-width: 500px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

input,
select,
fieldset,
textarea,
legend,
label,
input::placeholder,
select::placeholder,
textarea::placeholder {
   color: #95A1BB;
   font-size: 16px;
   font-weight: 400;
   line-height: 22.4px;
   font-family: inherit;
}

input[type='text'] {
   width: 100%;
}

input[type='email'],
input[type='password'],
input[type='date'],
select {
   width: 230px;
   height: 50px;
}


input[type='date'] {
   background: url(../assets/images/calendar.svg) no-repeat right 3px top 50%;
}

select {
   background: url('../assets/images/arrow-down.svg') no-repeat right 15px top 50%;
   appearance: none;
}

fieldset {
   width: 100%;
   padding: 30px 15px;
}

.stack,
.fieldset {
   display: flex;
   gap: 30px;
}

textarea {
   width: 100%;
   min-height: 80px;
   resize: none;
}

form .button {
   width: 100%;
}

.footer {
   background: #0A61F7;
   text-align: center;
   padding: 20px 0;
}

.small {
   color: #FFF;
   font-size: 14px;
   font-weight: 400;
   line-height: 22px;
}