* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Rubik;
}

.card {
    width: 1170px;
    height: 800px;
    background: #FFF;
    box-shadow: 20px 20px 40px 0px rgba(81, 91, 117, 0.25);
    display: flex;
    justify-content: center;
}

/* =======левая сторона================ */

.product-image-block {
    min-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image-wrapper {
    flex-grow: 1;
    display: flex;
}

.previews-block {
    display: flex;
    gap: 60px;
    margin-bottom: 70px;
}

.preview {
    width: 80px;
    height: 80px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .2s;
}

.preview.selected,
.preview:hover {
    box-shadow: 8px 8px 16px 0px rgba(81, 91, 117, 0.25);
}

/* =======правая сторона================ */

.product-info-block {
    max-width: 630px;
    padding: 60px 60px 80px 60px;
    border-left: solid 2px #14141426;

}

.main-title {
    color: rgba(20, 20, 20, 0.90);
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.38px;
    padding-bottom: 5px;
}

.subtitle {
    color: rgba(20, 20, 20, 0.40);
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0.16px;
}

.main-text {
    color: rgba(20, 20, 20, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.18px;
    padding: 60px 0;
}

.title {
    color: rgba(20, 20, 20, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.color-items {
    list-style: none;
    display: flex;
    gap: 26px;
    padding-bottom: 65px;
}

.color-items>li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .3s;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 4px rgba(81, 91, 117, 0.25));
}

.color-selected,
.color-items>li:hover {
    box-shadow: 1px 1px 5px 2px rgb(76 80 93 / 47%);
}

.blue {
    background-color: #013C7D;
}

.green {
    background-color: #63CBA7;
}

.red {
    background-color: #D52F29;
}

.black {
    background-color: #141414;
}

.yellow {
    background-color: #F2C723;
}

.priceAndQuantity {
    display: flex;
    padding-bottom: 75px;
}

.priceAndQuantity>div {
    flex-grow: 1;
}

.quantity {
    font-family: inherit;
    border: none;
    width: 80px;
    color: rgba(20, 20, 20, 0.80);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    appearance: none;
    background: no-repeat url("select-arel.svg") right 0 top 50%;
}

.quantity:focus {
    outline: none;
}

.price {
    color: rgba(20, 20, 20, 0.80);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.btn {
    width: 510px;
    height: 70px;
    background: #141414;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.18px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #0856a8;
}